
body{
    background-color: black;
    color: white;
    font-size: 10pc;
    background-repeat: no-repeat;
    background-size:cover;

}

.table{
    margin-top: 5%;
    margin-left: 25%;
    float: left;
    border: solid 1px white;
    width: 18pc;
    height: 18pc;
}

.rows{
    border: 1px white solid;
    height: 6pc;
    width: 18pc;
    display: flex;
}

p{
    height: 20px;
    width:autopx;
    font-size: large;
    border: 3px solid rgb(239, 245, 240);
    display: flex;
}
img{
    height: auto;
    width: 6pc;
    display:flex;
    margin-top: 5%;
    margin-left: 15%;
}
.person1{
    float:left;
    margin-top: 10%;
    margin-left: 10%;

}
.person2{
    float:right;
    margin-top: 10%;
    margin-right: 10%;
}
button{
    color: white;
    height: 6pc;
    width: 6pc;
    border: 3px solid rgb(239, 245, 240);
    background-color: black;
    border-collapse: separate;
    font-size: 4pc;
    text-align: center;
}


#reset:hover{
        color: #e9e4e4;
        background: #058919;
        box-shadow: 2px 2px 10px #7a7b7b;
        
}


#re{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

#reset{
    margin-top: 2%;
    margin-left:43%;
    border: 1PX SOLID white;
    color: white;
    width: 20%;
    height: 15%;
    display: none;
    font-size: 2pc;
    border-radius: 10px;
    animation: name infinite ;
}

@keyframes name {
    
}
    



#reslt{
    width: 60px;
    display:contents;
    font-size:60px;   
}
